.page-container {
    background-image: url('/images/background.jpg');
    background-size: cover;
    height: 100vh;
}

.nav-link {
    font-weight: 400 !important;
}

.page-content {
    min-height: 75vh;
    padding-top: 10px;
}
